.email {
    background-color: rgb(184, 13, 207);
    font-weight: bold;
    margin-right: 5px;
    color: white;
    padding: 6px 10px;
    border-radius: 15%;
}

.ojo {
    width: 15px;
    margin-left: 5px;
}

.invisible {

    width: 15px;
}

.helpUser {

    color: white;
    font-weight: bold;
    margin-right: 5px;
    padding: 6px 10px;
    border-radius: 15%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    background-color: rgb(184, 13, 207);
    border-radius: 100%;


}

.buttons {
    margin-top: 1vw;
    background-color: rgb(184, 13, 207);
    color: white;
    font-weight: bolder;
    width: 10vw;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
    /* Borde redondeado para los botones */
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    /* Transiciones suaves en los cambios de color y escala */
}

.buttons:hover {
    background-color: rgb(231, 168, 239);
    color: rgb(18, 176, 197);
    transform: scale(1.05);
    /* Efecto de escala al pasar el cursor */
}

.password {
    font-weight: bold;
    background-color: rgb(184, 13, 207);
    margin: 0px 5px;
    color: white;
    padding: 6px 10px;
    border-radius: 15%;
}

.divs {
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 33, 226, 0.5);
    margin: 10px auto;
    /* Centrar el div horizontalmente */
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    max-width: 300px;
    /* Establecer un ancho m치ximo para evitar que el contenido se estire demasiado en pantallas grandes */
}

.inputEmail,
.inputPassword {
    width: 18%;
    padding: 6px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    /* Estilos para los inputs */
}

/* Estilos para hacer la p치gina responsive */
@media screen and (max-width: 768px) {
    .buttons {
        width: 100%;
        /* Ajustar el ancho al 100% en pantallas peque침as */
    }



    .email {
        width: 10%;
        font-size: 0.8em;

    }

    .password {

        width: 10%;
        font-size: 0.8em;
    }

    .inputEmail,
    .inputPassword {
        width: 90%;
        margin-bottom: 10px;
        margin-top: 10px;
        /* Agregar un margen inferior para separar los inputs en pantallas peque침as */
    }
}