.h2 {
    width: 150px;
    font-size: 20px;
    background-color: cyan;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    /* Centrar el texto horizontalmente */
    transition: background-color 0.3s, color 0.3s;
    /* Transiciones suaves en los cambios de color */
}

.h2:hover {
    background-color: #333;
    color: white;
}

.containerImage {
    display: flex;
    justify-content: center;
    /* Centrar la imagen horizontalmente */
}

.container {
    background-color: rgb(0, 0, 0);
    width: 15vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    /* Agregar sombra al contenedor */
}

.firstContainer {
    background-color: cyan;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 75vh;
    max-width: 400px;
    margin: 5em auto;
    border-radius: 5px;
}

.image {
    border: 5px solid cyan;
    max-width: 100%;
    /* Ajustar el tamaño máximo de la imagen al contenedor */
    border-radius: 5px;
}

.division {
    border: 1px solid black;
    margin-right: 1.5%;
    flex: 1;
}

@media screen and (max-width: 470px) {
    .firstContainer {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    .h2 {
        font-size: 15px;
        width: 100px;
    }

    .container {
        width: 130px;
    }

}